<app-main-header short="true" [pageTitle]="isCreating ? 'Create Role' : 'Edit Role'">
  <button app-icon-button icon="la-undo" variant="secondary"
          (onclick)="backToTable()">
    Back
  </button>
  <button app-icon-button *ngIf="!isCreating" icon="la-ban" variant="danger"
          [disabled]="ready !== 'ready'" (onclick)="roleService.delete(id)">
    Delete
  </button>
  <button app-icon-button icon="la-save" variant="success"
          [disabled]="ready !== 'ready'" (onclick)="submit()">
    {{isCreating ? 'Create' : 'Save'}}
  </button>
</app-main-header>

<app-main-content>
  <form app-form-layout [formGroup]="roleService.form" [ready]="ready">

    <app-number-field *ngIf="!isCreating" label="ID" controlName="id"
                      disabled="true" [allowCopy]="true">
    </app-number-field>

    <app-text-field label="Role Name" controlName="name"
                    [maxLength]="50" [required]="true">
    </app-text-field>

    <ul>
      <ng-container *ngFor="let pem of roleService.permissions"
                    [ngTemplateOutlet]="singlePermission"
                    [ngTemplateOutletContext]="{$implicit:pem}">
      </ng-container>
    </ul>
  </form>

</app-main-content>

<ng-template #singlePermission let-permission>
  <li>
    {{permission.displayName}}
    <input type="checkbox" *ngIf="permission.key">
    <input type="checkbox" *ngIf="permission.manageKey">
    <ul *ngIf="!!permission.children">
      <ng-container *ngFor="let pem of permission.children"
                    [ngTemplateOutlet]="singlePermission"
                    [ngTemplateOutletContext]="{$implicit:pem}">
      </ng-container>
    </ul>
  </li>
</ng-template>