
.nav-tabs {
    gap: 10px;
    display: flex;
    align-items: end;
}

.tab {
    button {
        background-color: var(--c-bg-3);
        padding: 10px;
        color: var(--c-text);
        outline: 0;
        border: 0;
    }
}

.tab-close {
    color: var(--c-text);
    text-align: right;
    cursor: pointer;
}

li.active {
    button {
        background-color: var(--c-text-dim);
        color: var(--c-text-alt);
        padding: 13px
    }
}