@import '../../../../sass/theme/common';

.dropdown-menu {
  padding: 0;
  margin: -2px 0 !important;

  &[data-popper-placement="top-start"] {
    margin-bottom: 14px !important;
  }
}

.dropdown-button {
  padding: .25rem .5rem .25rem .9rem;

  &:after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 100%;
    float: right;
    background-image: #{$arrow-down-icon};
    background-position: center;
    background-repeat: no-repeat;
  }
}

.dropdown-item {
  padding: .25rem 1rem .25rem .9rem;
}

.dropdown-button, .dropdown-item {
  height: 2rem;
  text-align: left;
}

.dropdown-menu {
  width: auto;
  min-width: auto;
}

.dropdown-button-text {
  padding-right: 0.6rem;
}