textarea {
  height: 8.25rem;
  min-height: 3.75rem;
  max-height: 20.25rem;

  &.small {
    height: 5.25rem;
    max-height: 12.75rem;
  }

  &.large {
    min-height: 8.25rem;
    height: 17.25rem;
    max-height: 32.25rem;
  }
}
