@import 'neercms/styles/styles';

app-admin-layout {
  height: 100vh;
  width: 100%;
  font-size: 15px;
}

app-admin-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


@import 'bootstrap/scss/bootstrap';
