<app-main-header pageTitle="Articles">
  <button app-icon-button
          icon="la-sync"
          variant="primary"
          [disabled]="table.loading"
          (click)="table.loadData()">
    Refresh
  </button>
  <button app-icon-button
          icon="la-download"
          variant="primary"
          [disabled]="table.loading"
          (click)="downloadJson()">
    JSON
  </button>
  <button app-icon-button
          *ngIf="articlesService.lastFormId"
          icon="la-undo"
          variant="secondary"
          (click)="articlesService.showForm()">
    Back to Editor
  </button>
</app-main-header>

<app-main-content>

  <as-split class="split-view"
            unit="percent"
            direction="vertical"
            [gutterSize]="4"
            (dragEnd)="resize($event.sizes)">
    <as-split-area [size]="firstComponentSize">
      <div class="split-area-content">
        <app-data-table #table
                        defaultSorting="-created"
                        [columns]="columns"
                        [onFilter]="fetchFilter.bind(this)"></app-data-table>
        <button (click)="onLocalizationClick()">Add Tab</button>
      </div>
    </as-split-area>
    <as-split-area [size]="secondComponentSize">
      <div class="split-area-content">
        <app-tabs>
          <app-tab tabTitle="First tab">Hello</app-tab>
        </app-tabs>

        <ng-template #localization>
          I'm localization
        </ng-template>
      </div>
    </as-split-area>
  </as-split>
</app-main-content>