<app-main-header pageTitle="Articles">
  <button app-icon-button
          icon="la-sync"
          variant="primary"
          [disabled]="table.loading"
          (click)="table.loadData()">
    Refresh
  </button>
  <button app-icon-button
          icon="la-download"
          variant="primary"
          [disabled]="table.loading"
          (click)="downloadJson()">
    JSON
  </button>
  <button app-icon-button
          *ngIf="articlesService.lastFormId"
          icon="la-undo"
          variant="secondary"
          (click)="articlesService.showForm()">
    Back to Editor
  </button>
</app-main-header>

<app-main-content>

  <as-split class="split-view"
            unit="percent"
            direction="vertical"
            [gutterSize]="4"
            (dragEnd)="resize($event.sizes)">
    <as-split-area [size]="splitSizes[0]">
      <div class="split-area-content">
        <app-data-table #table
                        defaultSorting="-created"
                        [columns]="columns"
                        [columnChooser]="true"
                        columnChooserSequence="articles"
                        [onFilter]="fetchFilter.bind(this)">
          <ng-container *appCustomColumn="'localizationButtons'; value as val; object as obj">
            <ng-container *ngFor="let localization of val">
              <span class="btn article-flag-button"
                    (click)="onLocalizationClick(localization)">
                <img class="flag-img"
                     [src]="articlesService.flags[localization.languageCode]"
                     [alt]="localization.languageCode" />
                <span class="flag-filler"></span>
              </span>
            </ng-container>
          </ng-container>
        </app-data-table>
      </div>
    </as-split-area>
    <as-split-area [size]="splitSizes[1]">
      <div class="split-area-content">
        <app-tabs></app-tabs>
        <ng-template let-data="data"
                     #articleForm>
          <app-article-form [article]="data"></app-article-form>
        </ng-template>
        <ng-template let-data="data"
                     #localizationForm>
          <app-localization-form [model]="data"></app-localization-form>
        </ng-template>
      </div>
    </as-split-area>
  </as-split>
</app-main-content>