$defaultMargin: 15px
$enableDevNet: false

//.bodyWrapper.first
//  height: 0
//  @keyframes slideDown
//    0%
//      height: 0
//      opacity: 0
//
//    50%
//      height: 5vh
//
//    100%
//      height: fit-content
//      opacity: 1
//  -webkit-animation: slideDown 3s

.bodyWrapper
  display: flex
  justify-content: center

.left
  width: 15%
  margin: 0 $defaultMargin
  @if $enableDevNet
    background: red
  display: flex
  flex-direction: column
  align-content: center

.right
  width: 20%
  margin: 0 $defaultMargin
  display: flex
  @if $enableDevNet
    background: yellow


.center
  width: 50%
  margin: 0 $defaultMargin
  @if $enableDevNet
    background: orange
  display: flex
  flex-direction: column

.left, .center, .right, .smallerRight, .smallerRight
  > h2
    font-weight: 700
    font-size: 32px
    line-height: 150%


.flag
  display: flex
  flex-direction: column
  width: 10px
  position: fixed
  left: 0

  div
    width: 100%
    height: 50vh

  .flagYellow
    background: #F5C856

  .flagBlue
    background: #0029FF


.mainBody
  min-height: 100%
  display: flex
  flex-direction: column


//=====================================================
//<=1000px

.smallerLeft
  margin: 0 $defaultMargin
  width: 60%
  display: flex
  flex-direction: column
  align-content: center

.smallerRight
  margin: 0 $defaultMargin
  width: 30%
  display: flex
  flex-direction: column
  align-content: center

//=====================================================
//<=1000px

.theSmallestCenter
  width: 92%
  margin: 0 $defaultMargin
  display: flex
  flex-direction: column
  align-content: center
