<nc-main-header short="true"
                 [pageTitle]="isCreating ? 'Create Language' : 'Edit Language'">
  <button nc-icon-button
          icon="la-undo"
          variant="secondary"
          (onclick)="backToTable()">
    Back
  </button>
  <button nc-icon-button
          *ngIf="!isCreating"
          icon="la-ban"
          variant="danger"
          [disabled]="!languageService.isReady"
          (onclick)="languageService.delete(code)">
    Delete
  </button>
  <button nc-icon-button
          icon="la-save"
          variant="success"
          [disabled]="!languageService.isReady"
          (onclick)="submit()">
    {{isCreating ? 'Create' : 'Save'}}
  </button>
</nc-main-header>

<nc-main-content>
  <form nc-form-layout
        enctype="multipart/form-data"
        [formGroup]="languageService.form"
        [ready]="languageService.ready">
    <nc-fieldset size="small">
      <nc-text-field label="Two-letter ISO Code"
                      controlName="code"
                      [maxLength]="2"
                      [disabled]="!isCreating"
                      [allowCopy]="!isCreating"></nc-text-field>
      <nc-form-content *ngIf="isCreating">
        <div>
          {{suggestedLanguageName ? 'Suggested language: ' + suggestedLanguageName : 'Language code is invalid'}}
        </div>
        <button nc-icon-button
                variant="secondary"
                [disabled]="!suggestedLanguageName"
                (onclick)="applySuggestedLanguage()">
          Apply Suggestion
        </button>
      </nc-form-content>
      <hr />

      <nc-text-field label="International Name"
                      controlName="name"
                      [maxLength]="50"
                      [required]="true"></nc-text-field>
      <nc-text-field label="Local Name"
                      controlName="nameLocal"
                      [maxLength]="50"></nc-text-field>

      <div class="form-group flag-wrapper">
        <label class="input-group-btn">
        <span class="btn btn-icon btn-outline-secondary">
          <span>
            {{!languageService.form.get('flagUrl') ? 'Upload flag' : 'Change Flag' }} (svg)
            <input type="file"
                   id="file"
                   style="display: none;"
                   accept=".svg"
                   (change)="handleFileChange($event)">
          </span>
        </span>
        </label>
      </div>

      <div class="preview-container">
        <img class="preview-image"
             [src]="languageService.form.get('flagUrl')!.value"
             alt="" />
      </div>
    </nc-fieldset>
  </form>

</nc-main-content>
