<nc-main-header pageTitle="Article Localization: {{model.status}}">
  <button nc-icon-button
          [icon]="locked ? 'la-lock' : 'la-unlock'"
          variant="secondary"
          (onclick)="locked = !locked">
    {{locked ? 'Locked' : 'Unlocked'}}
  </button>
  <button nc-icon-button
          icon="la-ban"
          variant="danger"
          [disabled]="locked"
          (onclick)="localizationsService.delete(model.id)">
    Delete
  </button>
  <button nc-icon-button
          icon="la-save"
          variant="success"
          [disabled]="locked"
          (onclick)="submit()">
    Save
  </button>
</nc-main-header>
<nc-main-header>
  <button nc-icon-button
          *ngIf="model.status !== Status.Banned"
          variant="danger"
          (click)="onHotButton(Status.Banned)">
    BAN
  </button>
  <button nc-icon-button
          *ngIf="model.status === Status.Banned"
          variant="warning"
          (click)="onHotButton(Status.Draft)">
    Lift the BAN
  </button>
  <button nc-icon-button
          *ngIf="model.status !== Status.Published && model.status !== Status.Banned"
          variant="success"
          (click)="onHotButton(Status.Published)">
    Publish
  </button>
</nc-main-header>

<nc-main-content>
  <form nc-form-layout
        [formGroup]="localizationsService.form"
        [ready]="localizationsService.ready">

    <nc-fieldset size="small">
      <nc-number-field label="ID"
                        controlName="id"
                        [disabled]="true"
                        [allowCopy]="true"></nc-number-field>
      <nc-number-field label="Linked Article ID"
                        controlName="articleId"
                        [disabled]="true"
                        [allowCopy]="true"></nc-number-field>
      <nc-text-field label="Language Code"
                      controlName="languageCode"
                      [disabled]="true"
                      [allowCopy]="true"></nc-text-field>
      <nc-date-field label="Created At"
                      controlName="created"
                      type="date-time"
                      [disabled]="true"></nc-date-field>
      <nc-date-field *ngIf="model.updated"
                      label="Updated At"
                      controlName="updated"
                      type="date-time"
                      [disabled]="true"></nc-date-field>
      <nc-date-field *ngIf="model.banned"
                      label="Banned At"
                      controlName="banned"
                      type="date-time"
                      [disabled]="true"></nc-date-field>
      <nc-text-area-field *ngIf="model.status === Status.Banned"
                           label="Ban Readon"
                           controlName="banReason"
                           size="medium"
                           [disabled]="locked"></nc-text-area-field>

    </nc-fieldset>
    <hr />
    <nc-fieldset size="small">

      <nc-select-field label="Content Status"
                        controlName="status"
                        [options]="localizationsService.contentStatuses"
                        [disabled]="locked"></nc-select-field>
      <nc-text-field label="Views"
                      controlName="views"
                      [disabled]="true"></nc-text-field>
      <nc-text-field label="Rating"
                      controlName="rate"
                      [disabled]="true"></nc-text-field>
    </nc-fieldset>
    <hr />
    <nc-fieldset size="large">
      <nc-text-area-field label="Title"
                           controlName="title"
                           size="small"
                           [disabled]="locked"></nc-text-area-field>
      <nc-text-area-field label="Description"
                           controlName="description"
                           size="medium"
                           [disabled]="locked"></nc-text-area-field>
      <nc-text-area-field label="Content (HTML)"
                           controlName="html"
                           size="large"
                           [disabled]="locked"></nc-text-area-field>
    </nc-fieldset>

  </form>
</nc-main-content>